* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(224, 240, 253);
    font-family: 'Roboto', sans-serif;
}

.home {
    width: 50%;
    margin: 100px auto;
    padding: 100px;
    border-radius: 10px;
}

.home h1 {
    font-weight: bold;
    font-size: 5em;
    border-bottom: 2px solid grey;
    margin-bottom: 0.2em;
}

/* .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

.ansBtn {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    font-size: 25px;
    transition: background color 0.5s;
}

.ansBtn:hover {
    background: black;
    color: white;
}

#nextQBtn {
    display: none;
    font-size: 20px;
    margin-top: 20px;
    padding: 0.5em;
    cursor: pointer;
}

#timer {
    display: none;
    margin-top: 30px;
}

.isCorrect {
    background: rgb(118, 247, 113);
}

.isWrong {
    background: rgb(255, 50, 50);
}
